<div class="row">
    <div class="sec">
        <section>
            <figure></figure>
            <p>Загрузите фотографию лота</p>
            <p><small>Вы можете перетащить изображение в эту область</small></p>
            <input type="file" multiple="multiple" accept="image/x-png,image/jpeg">
        </section>
    </div>
    @*<div class="progress">
            <div class="progress-bar"></div>
            <div class="progress-value">0 %</div>
        </div>*@
    <div class="error"></div>
    <div class="images"></div>
</div>
<div class="row">
    <div class="success">
        @*<p>Изображение загружено, нажите на кнопку отмена, чтобы загрузить другое</p>*@
        <div style="padding-left:85px;">
            @using (Html.BeginForm("DeleteFile", "Home"))
            {
                <div class="form-group">
                    @Html.Hidden("url", null, new { @class = "form-control", id = "urlsToDelete" })
                </div>
                        <button type="submit" class="btn btn-primary" id="cancelButton" @*onclick="showhide()"*@>Отмена</button>
            }
        </div>

    </div>
</div>

@*<script>
    function showhide() {
        $('.sec').show();
        $('.success').hide();
    }
</script>*@
