
@{
    ViewBag.Title = "TestView";
}

<h2>TestView</h2>


<div class="row">
    <div class="col-md-3">
        @*Карточка1*@
        <div class="row">
            Картинка
        </div>
        <div class="row">
            Текст
        </div>
    </div>
    <div class="col-md-3">
        @*Карточка2*@
        <div class="row">
            Картинка
        </div>
        <div class="row">
            Текст
        </div>
    </div>
    <div class="col-md-3">
        @*Карточка3*@
        <div class="row">
            Картинка
        </div>
        <div class="row">
            Текст
        </div>
    </div>
    <div class="col-md-3">
        @*Карточка4*@
        <div class="row">
            Картинка
        </div>
        <div class="row">
            Текст
        </div>
    </div>
</div>